version: '3.8'
services:
  # Layanan Backend (Node.js)
  backend:
    build: 
      context: .  # Gunakan folder utama (web) sebagai context
      dockerfile: ./backend/Dockerfile # Tunjukkan lokasi Dockerfile-nya
    ports:
      - "5000:5000" # Map port 5000 di host ke 5000 di container
    environment:
      PORT: 5000
      # Penting: Hubungkan ke service 'mongodb'
      MONGO_URI: mongodb://mongodb:27017/movieapp 
      NODE_ENV: development
      JWT_SECRET: "isi_jwt_secret_anda"
      TMDB_API_KEY: "isi_tmdb_api_key_anda"
    depends_on:
      - mongodb # Pastikan mongodb jalan dulu

  # Layanan Frontend (React + NGINX)
  frontend:
    build: ./frontend
    ports:
      - "80:80" # Map port 80 di host ke 80 di container
    depends_on:
      - backend # Pastikan backend jalan dulu

  # Layanan Database (MongoDB)
  mongodb:
    image: mongo:latest # Gunakan image resmi MongoDB
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db # Simpan data agar tidak hilang

volumes:
  mongo-data: # Definisikan volume